<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/yeti/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <% include ../views/partials/header %>
    </header>
    <main>
      <h1><%= title %></h1>
      <p>Looking for a Job? <%= title %> can help!</p>
    </main>
    <footer>
      <% include ../views/partials/footer %>
    </footer>
  </body>
</html>


