<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <% include ../views/partials/header %>
    </header>
    <main>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </main>
    <footer>
      <% include ../views/partials/footer %>
    </footer>
  </body>
</html>


