<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <header>
      <% include ../views/partials/header %>
    </header>
    <main>
      <h1><%= title %></h1>
      <p>Looking for a Job? <%= title %> can help!</p>
    </main>
    <footer>
      <% include ../views/partials/footer %>
    </footer>
  </body>
</html>


