body {
  background-color: #FFFFFF;
  padding: 30px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/*/
}

.navbar-brand {
  font-size: 32px;
}

#search {
  display: inline-block;
  border: 3px red solid;
  width: 33%;
}

#results {
  display: inline-block;
  border: 3px blue solid;
  width: 66%;
  float: right;
}

#jobs {
  display: block;
  border: 3px green solid;
}

/*ul, li, a {
  color: #00B7FF;
  text-decoration: none;
  list-style: none;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EBEBEB;
}

li {
    float: left;
}

li, a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

button, input, select, textarea {
  font-size: xx-Large;
}

input.form-control {
  width: 100%;
}

/*input#email.form-control {
  width: 33%;
}

input#password.form-control {
  width: 33%;
}

input#keywords.form-control {
  width: 33%;
}*/

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #FFFFFF;
}

.container-fluid {
  background-color: #FFFFFF;
}

div.form-group {
  width: 95%;
  line-height: 200%;
}

div.form-group select {
  width: 100%;
}

div.form-group div {
  background-color: #EBEBEB;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

footer {
  background-color: #979595;
}

.text-muted {
  color: #ffffff;
}
